body{
    position: relative;
}
div.search {
    display: flex;

position: fixed;
right: 0px;

padding: 10px;
border: 2px solid red;
background-color: rgb(236, 136, 54);
border-radius: 10px;
}

.lupa{
    background-image: url(/assets/lupa.png);
    background-color: white;
    border-radius: 10px;
    background-size: contain;

}