body {
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
    position: relative;
}

button.btn1 {
    position: fixed;
    left: -5px;
    top: -5px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: url('/assets/Poke_Ball.png');
    background-size: contain;
}

div.search {
    display: flex;
    position: fixed;
    right: 0px;
    width: 200px;
    padding: 10px;
    border: 2px solid red;
    background-color: rgb(236, 136, 54);
    border-radius: 10px;
}
input.pole{
    border-radius: 10px;
    width: 150px;
    margin-right: 20px;
}
#btn2{
    background-image: url(/assets/lupa.png);
    background-size: contain;
}

button.btn2{
    
    width: 30px;
    border-radius: 10px;

}
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 400px;
    min-height: 400px;
    background-color: lemonchiffon;
    display: flex;
    flex-wrap: wrap;
    border: 20px solid orange;
    border-radius: 10px;
    margin: 10px;
}

.image > img {
    width: 120px;
    height: 120px;
    margin: 10px;
    border: 10px solid grey;
    border-radius: 10px;
}

.properties {
    flex: 1;
    margin: 10px;
}

.description {
    margin: 10px;
    flex-basis: 100%;
}